h3 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  border-radius: 25px;
  border: none;

}

.card-body {
  width: 25%;
  margin: 20px;
  overflow: hidden;
  background: rgb(141, 207, 233);
  box-shadow: 0px 3px 10px rgb(131, 6, 6);
  font-size: 20px;
  float: left;
}

.danger {
  color: black;
  background-color: rgb(219, 42, 42);
  font-size: 25px;
  line-height: 100px;
  width: 87px;
  height: 70px;
}

.secondary {
  color: black;
  background-color: rgb(56, 113, 218);
  font-size: 25px;
  line-height: 50px;
  width: 87px;
  height: 70px;
}